# Ignore Idea meta directory
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle wrapper directory
gradle

# Ignore binary output directory
out

/.idea/

bin